@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #f8cbad;
}
hr {
  color: #fff;
}
h3 {
  color: #f78220;
}
.page {
  background-color: #000;
  height: 100vh;
}

* {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #f78220;
  border: none;
}

.copyright {
  position: absolute;
  bottom: 0px;
}

.footer {
  text-align: center;
  position: relative;
  left: 100px;
  width: 100%;
}
